$color_1: white;
$background-color_ul: #111;
$background-color_li: #333;

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: $background-color_ul;
}
li {
  float: left;
  a {
    display: block;
    color: $color_1;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
    &:hover {
      background-color: $background-color_li;
    }
  }
}
