<div class="wrapper">
    <div class="container" fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
        <div class="item header" fxFlex="100%">
            Header
        </div>
    </div>
    <div class="container col__wrap" fxLayout fxLayoutAlign="left" fxLayoutGap="10px">
        <div class="item sidebar" fxFlex="50%">
            Sidebar
        </div>

        <div class="container1" fxLayout="column" fxLayoutGap="10px">
            <div class="item featured" fxFlex>
                Featured
            </div>
            <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
                <div class="item A" fxFlex>
                    A
                </div>
                <div class="item B" fxFlex>
                    B
                </div>
            </div>
        </div>
    </div>
</div>